
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #hce3a5;
    padding: 5px;
    width: 150px;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background: url("../images/sanfrancisco.jpg") no-repeat; 
    background-size: cover;
}

.col-4{
    width: 33.33%;    
}

.col-8{
width: 66.66%;        
}

.center_content {
    position: relative;    
    padding: 5px;
}

.left_content {    
    background-color: #ece3a5;    
    padding: 5px;
    margin-left: 0px;     
    height: 440px;    
}

.right_content {    
    background-color: #jce3a5;
    height: 440px;    
    padding: 5px;
    margin: 0px 0px 0px 170px;
}

#top a:link, #top a:visited {
  color: #D20005;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


